# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
functions/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
/.firebase
.firebase/*
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

apps/mobile/node_modules
apps/Ionic5_full_ionthemes/node_modules
apps/mobile/.firebase
apps/mobile/platforms
apps/mobile/plugins
apps/mobile/resources
apps/mobile/google-services.json
apps/mobile/GoogleService-Info.plist
apps/mobile/www
ui-debug.log
firebase-debug.log
database-debug.log
package-lock.json
debug.log
.vscode/settings.json
apps/mobile/package-lock.json
.firebase/